USE [master]
GO

/******Create  Database******/
CREATE DATABASE [InsightUpdateCVGS3]
GO

USE [InsightUpdateCVGS3]
GO
/****** Object:  Table [dbo].[GameRating]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameRating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[GameId] [int] NULL,
	[RateValue] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GameAverageRating]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GameAverageRating] AS
SELECT GameId, ROUND(AVG(RateValue), 1) AS AverageRating
FROM  GameRating
GROUP BY GameId;
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [varchar](36) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](20) NULL,
	[LastName] [varchar](25) NULL,
	[DisplayName] [varchar](15) NULL,
	[Gender] [varchar](20) NULL,
	[DOB] [date] NULL,
	[RecievesEmails] [bit] NULL,
	[PhoneNumber] [varchar](20) NULL,
	[AccountId] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MemberListReport]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE VIEW [dbo].[MemberListReport] AS
SELECT 
    m.*,
    a.UserName,
    a.Email
FROM 
    Member m
    INNER JOIN AspNetUsers a ON m.AccountId = a.Id;
GO
/****** Object:  Table [dbo].[OrderTable]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTable](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NULL,
	[OrderTime] [time](7) NULL,
	[TotalPayment] [float] NULL,
	[OrderFulfilled] [bit] NULL,
	[MemberId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MemberOrderDetailsReport]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MemberOrderDetailsReport] AS
SELECT 
    m.RecievesEmails, m.PhoneNumber, m.AccountId, 
    a.UserName,
    a.Email,
    COUNT(o.OrderId) AS OrderCount
FROM 
    InsightUpdateCVGS3.dbo.Member m
INNER JOIN 
    InsightUpdateCVGS3.dbo.AspNetUsers a ON m.AccountId = a.Id
LEFT JOIN 
    InsightUpdateCVGS3.dbo.OrderTable o ON o.MemberId = m.MemberId
GROUP BY 
    m.RecievesEmails, m.PhoneNumber, m.AccountId, 
    a.UserName, a.Email;
GO
/****** Object:  Table [dbo].[GameCategory]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePlatform]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePlatform](
	[PlatformId] [int] IDENTITY(1,1) NOT NULL,
	[PlatformName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlatformId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[GameName] [varchar](max) NULL,
	[Details] [varchar](max) NOT NULL,
	[Price] [float] NULL,
	[PhysicalAvailable] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[GameImageLink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameDetailsCategory]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDetailsCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameDetailsPlatform]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDetailsPlatform](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NULL,
	[PlatformId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[GameId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[WishListReport]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WishListReport] AS
SELECT 
    g.GameId,
    g.GameName,
    g.Details,
    g.Price,
    
    -- Concatenate distinct category names for each game
    (SELECT STRING_AGG(gc.CategoryName, ', ')
     FROM GameDetailsCategory gdc
     JOIN GameCategory gc ON gdc.CategoryId = gc.CategoryId
     WHERE gdc.GameId = g.GameId) AS Categories,
    
    -- Concatenate distinct platform names for each game
    (SELECT STRING_AGG(gp.PlatformName, ', ')
     FROM GameDetailsPlatform gdp
     JOIN GamePlatform gp ON gdp.PlatformId = gp.PlatformId
     WHERE gdp.GameId = g.GameId) AS Platforms,
    
    -- Count of GameId in the WishList table for each game
    (SELECT COUNT(w.GameId)
     FROM WishList w
     WHERE w.GameId = g.GameId) AS FrequencyInWishList

FROM 
    Game g;
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EvTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EvTypeName] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EvTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameEvent]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameEvent](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](50) NOT NULL,
	[Details] [varchar](max) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[EvTypeId] [int] NOT NULL,
	[EventLink] [varchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[AddressId] [int] NULL,
	[Duration] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberEventRegist]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberEventRegist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[EventId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EventsRegistrationsReport]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EventsRegistrationsReport] AS
SELECT 
    ge.EventName,
    ge.StartDate,
    et.EvTypeName AS EventType,
    COUNT(mer.EventId) AS Registrations
FROM 
    InsightUpdateCVGS3.dbo.GameEvent ge
INNER JOIN 
    InsightUpdateCVGS3.dbo.EventType et ON ge.EvTypeId = et.EvTypeId
LEFT JOIN 
    InsightUpdateCVGS3.dbo.MemberEventRegist mer ON ge.EventId = mer.EventId
WHERE 
    ge.IsDeleted = 0 -- Optionally exclude deleted events
GROUP BY 
    ge.EventName, ge.StartDate, et.EvTypeName;
GO
/****** Object:  View [dbo].[GameRatingReport]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GameRatingReport] AS
SELECT 
    g.GameId, g.GameName,
    
    -- Concatenate distinct category names
    (SELECT STRING_AGG(gc.CategoryName, ', ')
     FROM GameDetailsCategory gdc
     JOIN GameCategory gc ON gdc.CategoryId = gc.CategoryId
     WHERE gdc.GameId = g.GameId) AS Categories,
    
    -- Concatenate distinct platform names
    (SELECT STRING_AGG(gp.PlatformName, ', ')
     FROM GameDetailsPlatform gdp
     JOIN GamePlatform gp ON gdp.PlatformId = gp.PlatformId
     WHERE gdp.GameId = g.GameId) AS Platforms,
    
    -- Calculate average rating
    ROUND(AVG(gr.RateValue), 1) AS AverageRating
FROM 
    Game g
    
    -- Join with GameRating to calculate average rating
    LEFT JOIN GameRating gr ON g.GameId = gr.GameId
    
GROUP BY 
    g.GameId, g.GameName;
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[GameId] [int] NULL,
	[IsPhysical] [int] NOT NULL,
	[MemberId] [int] NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SalesReport]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SalesReport] AS
SELECT 
    o.OrderId,
    o.OrderDate,
	us.Email,
    SUM(oi.Quantity) AS NumberOfItems,
    o.TotalPayment
FROM 
    OrderTable o
    INNER JOIN OrderItem oi ON o.OrderId = oi.OrderId
	INNER JOIN Member m ON o.MemberId = m.MemberId
	INNER JOIN AspNetUsers us ON m.AccountId = us.Id
GROUP BY 
    o.OrderId, 
    o.OrderDate, 
    o.TotalPayment,
	us.Email;
GO
/****** Object:  Table [dbo].[AddressTable]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressTable](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[StreetName] [varchar](40) NOT NULL,
	[StreetNumber] [varchar](10) NOT NULL,
	[Unit] [varchar](10) NULL,
	[PostalCode] [varchar](12) NULL,
	[City] [varchar](30) NULL,
	[Province] [varchar](25) NULL,
	[Country] [varchar](25) NOT NULL,
	[IsShipping] [bit] NULL,
	[DelivaryInstructions] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](36) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [varchar](36) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [varchar](36) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [varchar](36) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[GameId] [int] NULL,
	[IsPhysical] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](20) NULL,
	[LastName] [varchar](25) NULL,
	[AccountId] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventAddressTable]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventAddressTable](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [varchar](40) NULL,
	[StreetNumber] [varchar](10) NULL,
	[Unit] [varchar](10) NULL,
	[PostalCode] [varchar](12) NULL,
	[City] [varchar](30) NULL,
	[Province] [varchar](25) NULL,
	[Country] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friend]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[FriendId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameDetailsLanguage]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDetailsLanguage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NULL,
	[LanguageId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageTable]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageTable](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberGameCategoryPref]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberGameCategoryPref](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberLanguagePref]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLanguagePref](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[LanguageId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberPlatformPref]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberPlatformPref](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[PlatformId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnedGame]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnedGame](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[GameId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NULL,
	[MemberId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[ReviewBody] [varchar](max) NOT NULL,
	[RejectReason] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewStatus]    Script Date: 01/12/2024 3:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Statusname] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddressTable] ON 

INSERT [dbo].[AddressTable] ([AddressId], [MemberId], [StreetName], [StreetNumber], [Unit], [PostalCode], [City], [Province], [Country], [IsShipping], [DelivaryInstructions]) VALUES (1, NULL, N'King Street', N'123', NULL, N'N2J 5T5', N'Waterloo', N'Ontario', N'canada', 0, NULL)
INSERT [dbo].[AddressTable] ([AddressId], [MemberId], [StreetName], [StreetNumber], [Unit], [PostalCode], [City], [Province], [Country], [IsShipping], [DelivaryInstructions]) VALUES (2, 1, N'King Street', N'123', N'1A', N'N2J 5T5', N'Waterloo', N'Ontario', N'canada', 0, NULL)
INSERT [dbo].[AddressTable] ([AddressId], [MemberId], [StreetName], [StreetNumber], [Unit], [PostalCode], [City], [Province], [Country], [IsShipping], [DelivaryInstructions]) VALUES (3, 1, N'King Street', N'123', N'1A', N'N2J 5T5', N'Waterloo', N'Ontario', N'canada', 1, N'My Delivary Instructions')
SET IDENTITY_INSERT [dbo].[AddressTable] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'b99af051-1e14-409b-60c9-08dcf7b2798b', N'Admin', N'ADMIN', N'8db42b4a-5a7b-4aa5-b645-404ebd4ed200')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'79f1dcbf-3a49-4d1a-60ca-08dcf7b2798b', N'Member', N'MEMBER', N'f5352cbf-8f6e-41b8-b4fd-f4a96cbdd0dd')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0441854f-7da6-48d0-dc7e-08dcef05fc51', N'79f1dcbf-3a49-4d1a-60ca-08dcf7b2798b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'15083613-5945-4e95-8cec-08dceef8055e', N'79f1dcbf-3a49-4d1a-60ca-08dcf7b2798b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'26a2b60d-f59e-4fd6-9213-f9836a049595', N'79f1dcbf-3a49-4d1a-60ca-08dcf7b2798b')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'0441854f-7da6-48d0-dc7e-08dcef05fc51', N'dzisaacs', N'DZISAACS', N'dzisaacs@yahoo.com', N'DZISAACS@YAHOO.COM', 1, N'AQAAAAIAAYagAAAAEFDtK3QcxcIKeRAfgsZGErkoQIfj5EJQ9G+4+wiF79CybY2vLbm5UEIXQYaO3kyCUw==', N'3EOH4H63QNJMDS6U4ABSJCZGUPLHPPTJ', N'51f8427e-edd9-48da-a628-6e9ed7894928', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'26a2b60d-f59e-4fd6-9213-f9836a049595', N'HazemTarek', NULL, N'hazem@mailinator.com', NULL, 1, NULL, NULL, NULL, N'123-123-1234', 1, 0, NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id], [MemberId], [GameId], [IsPhysical]) VALUES (14, 10, 3, 0)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([id], [CountryName]) VALUES (1, N'Canada')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [AccountId]) VALUES (1, N'Adam', N'John', N'1')
INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [AccountId]) VALUES (2, N'Adam', N'John', N'A80643A1-5F2D-4177-B8DE-A5737CE5022D')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EventAddressTable] ON 

INSERT [dbo].[EventAddressTable] ([AddressId], [StreetName], [StreetNumber], [Unit], [PostalCode], [City], [Province], [Country]) VALUES (2, N'Westmount street', N'123', NULL, N'n6h 7f7', N'Kitchener', N'Ontario', N'Canada')
INSERT [dbo].[EventAddressTable] ([AddressId], [StreetName], [StreetNumber], [Unit], [PostalCode], [City], [Province], [Country]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[EventAddressTable] ([AddressId], [StreetName], [StreetNumber], [Unit], [PostalCode], [City], [Province], [Country]) VALUES (4, N'king street', N'123', NULL, N'n6h 7f7', N'Kitchener', N'Ontario', N'Canada')
SET IDENTITY_INSERT [dbo].[EventAddressTable] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EvTypeId], [EvTypeName]) VALUES (1, N'Virtual')
INSERT [dbo].[EventType] ([EvTypeId], [EvTypeName]) VALUES (2, N'On-Site')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
SET IDENTITY_INSERT [dbo].[Friend] ON 

INSERT [dbo].[Friend] ([id], [MemberId], [FriendId]) VALUES (9, 7, 10)
INSERT [dbo].[Friend] ([id], [MemberId], [FriendId]) VALUES (10, 7, 4)
SET IDENTITY_INSERT [dbo].[Friend] OFF
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[GameCategory] ON 

INSERT [dbo].[GameCategory] ([CategoryId], [CategoryName]) VALUES (1, N'Board')
INSERT [dbo].[GameCategory] ([CategoryId], [CategoryName]) VALUES (2, N'Adventure')
INSERT [dbo].[GameCategory] ([CategoryId], [CategoryName]) VALUES (3, N'Fighting')
SET IDENTITY_INSERT [dbo].[GameCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[GameDetailsCategory] ON 

INSERT [dbo].[GameDetailsCategory] ([id], [GameId], [CategoryId]) VALUES (1, 1, 7)
INSERT [dbo].[GameDetailsCategory] ([id], [GameId], [CategoryId]) VALUES (2, 2, 7)
INSERT [dbo].[GameDetailsCategory] ([id], [GameId], [CategoryId]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[GameDetailsCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[GameDetailsLanguage] ON 

INSERT [dbo].[GameDetailsLanguage] ([id], [GameId], [LanguageId]) VALUES (1, 1, 1)
INSERT [dbo].[GameDetailsLanguage] ([id], [GameId], [LanguageId]) VALUES (2, 2, 2)
INSERT [dbo].[GameDetailsLanguage] ([id], [GameId], [LanguageId]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[GameDetailsLanguage] OFF
GO
SET IDENTITY_INSERT [dbo].[GameDetailsPlatform] ON 

INSERT [dbo].[GameDetailsPlatform] ([id], [GameId], [PlatformId]) VALUES (1, 1, 1)
INSERT [dbo].[GameDetailsPlatform] ([id], [GameId], [PlatformId]) VALUES (2, 2, 7)
INSERT [dbo].[GameDetailsPlatform] ([id], [GameId], [PlatformId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[GameDetailsPlatform] OFF
GO
SET IDENTITY_INSERT [dbo].[GameEvent] ON 

INSERT [dbo].[GameEvent] ([EventId], [EventName], [Details], [StartDate], [EndDate], [StartTime], [EndTime], [EvTypeId], [EventLink], [IsDeleted], [AddressId], [Duration]) VALUES (2, N'KW GamesCom', N'KW GamesCom details', CAST(N'2025-02-15' AS Date), NULL, CAST(N'13:00:00' AS Time), NULL, 2, NULL, 0, 4, NULL)
INSERT [dbo].[GameEvent] ([EventId], [EventName], [Details], [StartDate], [EndDate], [StartTime], [EndTime], [EvTypeId], [EventLink], [IsDeleted], [AddressId], [Duration]) VALUES (3, N'Tokyo Game Show', N'Tokyo Game Show details', CAST(N'2024-12-30' AS Date), NULL, CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), 1, N'https://www.example.com/events/event2', 0, NULL, NULL)
INSERT [dbo].[GameEvent] ([EventId], [EventName], [Details], [StartDate], [EndDate], [StartTime], [EndTime], [EvTypeId], [EventLink], [IsDeleted], [AddressId], [Duration]) VALUES (4, N'Astronomical Showdown', N'Astronomical Showdown details', CAST(N'2025-03-25' AS Date), NULL, CAST(N'15:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, N'https://www.example.com/events/event3', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GameEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[GamePlatform] ON 

INSERT [dbo].[GamePlatform] ([PlatformId], [PlatformName]) VALUES (1, N'Nintendo Switch')
INSERT [dbo].[GamePlatform] ([PlatformId], [PlatformName]) VALUES (2, N'PC')
INSERT [dbo].[GamePlatform] ([PlatformId], [PlatformName]) VALUES (3, N'PS2')
SET IDENTITY_INSERT [dbo].[GamePlatform] OFF
GO
SET IDENTITY_INSERT [dbo].[GameRating] ON 

INSERT [dbo].[GameRating] ([id], [MemberId], [GameId], [RateValue]) VALUES (1, 6, 1, 5)
INSERT [dbo].[GameRating] ([id], [MemberId], [GameId], [RateValue]) VALUES (2, 1, 1, 5)
INSERT [dbo].[GameRating] ([id], [MemberId], [GameId], [RateValue]) VALUES (3, 2, 1, 2)
SET IDENTITY_INSERT [dbo].[GameRating] OFF
GO
SET IDENTITY_INSERT [dbo].[LanguageTable] ON 

INSERT [dbo].[LanguageTable] ([LanguageId], [LanguageName]) VALUES (1, N'English')
INSERT [dbo].[LanguageTable] ([LanguageId], [LanguageName]) VALUES (2, N'French')
INSERT [dbo].[LanguageTable] ([LanguageId], [LanguageName]) VALUES (3, N'Spanish')
SET IDENTITY_INSERT [dbo].[LanguageTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName], [DisplayName], [Gender], [DOB], [RecievesEmails], [PhoneNumber], [AccountId]) VALUES (1, N'Salma', N'Essam', N'SalmaEssam', N'Female', NULL, 1, N'2269776538', N'664f5e84-5032-40c2-b8b1-1cf9b78935df')
INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName], [DisplayName], [Gender], [DOB], [RecievesEmails], [PhoneNumber], [AccountId]) VALUES (2, N'Ali', N'Mher', N'AliMaher', N'Male', NULL, 1, N'2264669845', N'517e2fa0-017a-415d-812c-de4c303917c9')
INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName], [DisplayName], [Gender], [DOB], [RecievesEmails], [PhoneNumber], [AccountId]) VALUES (3, N'Omar', N'Karim', N'OmarKarim', N'Male', NULL, 1, N'5193664854', N'72afb079-d43f-4f10-82a3-48269a453084')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberEventRegist] ON 

INSERT [dbo].[MemberEventRegist] ([id], [MemberId], [EventId]) VALUES (4, 2, 2)
INSERT [dbo].[MemberEventRegist] ([id], [MemberId], [EventId]) VALUES (5, 3, 2)
INSERT [dbo].[MemberEventRegist] ([id], [MemberId], [EventId]) VALUES (6, 1, 3)
SET IDENTITY_INSERT [dbo].[MemberEventRegist] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberGameCategoryPref] ON 

INSERT [dbo].[MemberGameCategoryPref] ([id], [MemberId], [CategoryId]) VALUES (1, 1, 7)
INSERT [dbo].[MemberGameCategoryPref] ([id], [MemberId], [CategoryId]) VALUES (2, 1, 2)
INSERT [dbo].[MemberGameCategoryPref] ([id], [MemberId], [CategoryId]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[MemberGameCategoryPref] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberLanguagePref] ON 

INSERT [dbo].[MemberLanguagePref] ([id], [MemberId], [LanguageId]) VALUES (1, NULL, 1)
INSERT [dbo].[MemberLanguagePref] ([id], [MemberId], [LanguageId]) VALUES (2, NULL, 1)
INSERT [dbo].[MemberLanguagePref] ([id], [MemberId], [LanguageId]) VALUES (3, 7, 1)
SET IDENTITY_INSERT [dbo].[MemberLanguagePref] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberPlatformPref] ON 

INSERT [dbo].[MemberPlatformPref] ([id], [MemberId], [PlatformId]) VALUES (1, NULL, 1)
INSERT [dbo].[MemberPlatformPref] ([id], [MemberId], [PlatformId]) VALUES (2, NULL, 1)
INSERT [dbo].[MemberPlatformPref] ([id], [MemberId], [PlatformId]) VALUES (3, 7, 1)
SET IDENTITY_INSERT [dbo].[MemberPlatformPref] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([id], [OrderId], [GameId], [IsPhysical], [MemberId], [Quantity]) VALUES (1, 1, 1, 0, 1, 1)
INSERT [dbo].[OrderItem] ([id], [OrderId], [GameId], [IsPhysical], [MemberId], [Quantity]) VALUES (2, 1, 3, 0, 1, 1)
INSERT [dbo].[OrderItem] ([id], [OrderId], [GameId], [IsPhysical], [MemberId], [Quantity]) VALUES (3, 2, 2, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderTable] ON 

INSERT [dbo].[OrderTable] ([OrderId], [OrderDate], [OrderTime], [TotalPayment], [OrderFulfilled], [MemberId]) VALUES (1, CAST(N'2024-03-21' AS Date), CAST(N'10:00:00' AS Time), 40, 1, 1)
INSERT [dbo].[OrderTable] ([OrderId], [OrderDate], [OrderTime], [TotalPayment], [OrderFulfilled], [MemberId]) VALUES (2, CAST(N'2024-04-22' AS Date), CAST(N'10:00:00' AS Time), 20, 1, 1)
INSERT [dbo].[OrderTable] ([OrderId], [OrderDate], [OrderTime], [TotalPayment], [OrderFulfilled], [MemberId]) VALUES (3, CAST(N'2024-05-22' AS Date), CAST(N'10:00:00' AS Time), 50, 1, 2)
SET IDENTITY_INSERT [dbo].[OrderTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([id], [ProvinceName]) VALUES (1, N'Alberta')
INSERT [dbo].[Province] ([id], [ProvinceName]) VALUES (2, N'British Columbia')
INSERT [dbo].[Province] ([id], [ProvinceName]) VALUES (3, N'Manitoba')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [GameId], [MemberId], [StatusId], [ReviewBody], [RejectReason]) VALUES (8, 20, 7, 1, N'It''s brilliant! I played it to test it for my kid and take a break from FNT and was hooked.', NULL)
INSERT [dbo].[Review] ([ReviewId], [GameId], [MemberId], [StatusId], [ReviewBody], [RejectReason]) VALUES (9, 2, 8, 1, N'So, this game has beaten my expectations. You know sometimes when you hear so much about how good something is that you start to question if it really is that good? Well Mania was that game for me and do you know what? I have to agree with people that this is a fantastic game.', NULL)
INSERT [dbo].[Review] ([ReviewId], [GameId], [MemberId], [StatusId], [ReviewBody], [RejectReason]) VALUES (10, 1, 8, 1, N'SuperMarioLogan Youtube Series was one of the funniest shows i''ve ever seen however it slowly and slowly got worse and worse, while I think SuperMarioLogan is still good it hasn''t been complete gold like back then', NULL)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewStatus] ON 

INSERT [dbo].[ReviewStatus] ([StatusId], [Statusname]) VALUES (1, N'Approved')
INSERT [dbo].[ReviewStatus] ([StatusId], [Statusname]) VALUES (2, N'Pending')
INSERT [dbo].[ReviewStatus] ([StatusId], [Statusname]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[ReviewStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[WishList] ON 

INSERT [dbo].[WishList] ([id], [MemberId], [GameId]) VALUES (1, 1, 4)
INSERT [dbo].[WishList] ([id], [MemberId], [GameId]) VALUES (2, 1, 5)
INSERT [dbo].[WishList] ([id], [MemberId], [GameId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[WishList] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 01/12/2024 3:11:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__349DA5A76E2B12B7]    Script Date: 01/12/2024 3:11:06 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Member__349DA5A762EC81B0]    Script Date: 01/12/2024 3:11:06 PM ******/
ALTER TABLE [dbo].[Member] ADD UNIQUE NONCLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddressTable] ADD  DEFAULT (NULL) FOR [MemberId]
GO
ALTER TABLE [dbo].[AddressTable] ADD  DEFAULT (NULL) FOR [Unit]
GO
ALTER TABLE [dbo].[AddressTable] ADD  DEFAULT (NULL) FOR [PostalCode]
GO
ALTER TABLE [dbo].[AddressTable] ADD  DEFAULT (NULL) FOR [City]
GO
ALTER TABLE [dbo].[AddressTable] ADD  DEFAULT (NULL) FOR [Province]
GO
ALTER TABLE [dbo].[AddressTable] ADD  DEFAULT ((0)) FOR [IsShipping]
GO
ALTER TABLE [dbo].[AddressTable] ADD  DEFAULT (NULL) FOR [DelivaryInstructions]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_IsPhysical]  DEFAULT ((0)) FOR [IsPhysical]
GO
ALTER TABLE [dbo].[EventAddressTable] ADD  DEFAULT (NULL) FOR [StreetName]
GO
ALTER TABLE [dbo].[EventAddressTable] ADD  DEFAULT (NULL) FOR [StreetNumber]
GO
ALTER TABLE [dbo].[EventAddressTable] ADD  DEFAULT (NULL) FOR [Unit]
GO
ALTER TABLE [dbo].[EventAddressTable] ADD  DEFAULT (NULL) FOR [PostalCode]
GO
ALTER TABLE [dbo].[EventAddressTable] ADD  DEFAULT (NULL) FOR [City]
GO
ALTER TABLE [dbo].[EventAddressTable] ADD  DEFAULT (NULL) FOR [Province]
GO
ALTER TABLE [dbo].[EventAddressTable] ADD  DEFAULT (NULL) FOR [Country]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((0)) FOR [PhysicalAvailable]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[GameEvent] ADD  DEFAULT (NULL) FOR [EndDate]
GO
ALTER TABLE [dbo].[GameEvent] ADD  DEFAULT (NULL) FOR [EventLink]
GO
ALTER TABLE [dbo].[GameEvent] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[GameEvent] ADD  DEFAULT (NULL) FOR [Duration]
GO
ALTER TABLE [dbo].[GameRating] ADD  DEFAULT (NULL) FOR [RateValue]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (NULL) FOR [Gender]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (NULL) FOR [DOB]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((1)) FOR [RecievesEmails]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (NULL) FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[OrderItem] ADD  DEFAULT ((0)) FOR [IsPhysical]
GO
ALTER TABLE [dbo].[OrderItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderTable] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderTable] ADD  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[OrderTable] ADD  CONSTRAINT [DF__OrderTabl__Order__693CA210]  DEFAULT (NULL) FOR [OrderFulfilled]
GO
ALTER TABLE [dbo].[AddressTable]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Friend]  WITH CHECK ADD FOREIGN KEY([FriendId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Friend]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[GameDetailsCategory]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[GameCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[GameDetailsCategory]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GameDetailsLanguage]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GameDetailsLanguage]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[LanguageTable] ([LanguageId])
GO
ALTER TABLE [dbo].[GameDetailsPlatform]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GameDetailsPlatform]  WITH CHECK ADD FOREIGN KEY([PlatformId])
REFERENCES [dbo].[GamePlatform] ([PlatformId])
GO
ALTER TABLE [dbo].[GameEvent]  WITH CHECK ADD FOREIGN KEY([EvTypeId])
REFERENCES [dbo].[EventType] ([EvTypeId])
GO
ALTER TABLE [dbo].[GameEvent]  WITH CHECK ADD  CONSTRAINT [FK_GameEvent_EventAddress] FOREIGN KEY([AddressId])
REFERENCES [dbo].[EventAddressTable] ([AddressId])
GO
ALTER TABLE [dbo].[GameEvent] CHECK CONSTRAINT [FK_GameEvent_EventAddress]
GO
ALTER TABLE [dbo].[GameRating]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GameRating]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MemberEventRegist]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[GameEvent] ([EventId])
GO
ALTER TABLE [dbo].[MemberEventRegist]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[MemberGameCategoryPref]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[GameCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[MemberGameCategoryPref]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[MemberLanguagePref]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[LanguageTable] ([LanguageId])
GO
ALTER TABLE [dbo].[MemberLanguagePref]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[MemberPlatformPref]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[MemberPlatformPref]  WITH CHECK ADD FOREIGN KEY([PlatformId])
REFERENCES [dbo].[GamePlatform] ([PlatformId])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderTable] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_YourTable_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_YourTable_Member]
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[OwnedGame]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[OwnedGame]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[ReviewStatus] ([StatusId])
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [CK_Cart_IsPhysical] CHECK  (([IsPhysical]=(1) OR [IsPhysical]=(0)))
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [CK_Cart_IsPhysical]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([IsPhysical]=(1) OR [IsPhysical]=(0)))
GO
USE [master]
GO
